

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <center>
<table>
            <td>Title</td><td>{{title}}</td>
            <td>Full Name</td><td>{{fullName}}</td>
            <td>Email Address</td><td>{{email}}</td>
            <td>Phone Number</td><td>{{phoneNumber}}</td>
            <td>Property Name</td><td>{{propertyName}}</td>
            <td>Equity (Naira)</td><td>{{equity}}</td>
            <td>Age</td><td>{{age}}</td>
            <td>Address</td><td>{{address}}</td>
            <td>Occupation</td><td>{{occupation}}</td>
            <td>Salary</td><td>{{salaryEarned}}</td>
            <td>Industry</td><td>{{industry}}</td>
</table>
    </center>
</body>
</html>